<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robby Mahendra Personal Website</title>

    <!-- Tambahkan link CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header style="text-align: center;">
      <h1>Curriculum Vitae</h1>
        <img src="image/foto-profile.jpg" width="200" height="200" style="border-radius: 50%;"/>
        <h1>Robby Mahendra</h1>
        <p>Hello World, saya mahasiswa informatika di Universitas Bengkulu sekarang berada di semester 6. Saya berpengalaman dalam menangani tugas pemrograman individu maupun kelompok. saya suka merencanakan apa yang akan dilakukan Saya sangat menghargai waktu agar bisa mengaturnya dengan baik, saya sangat teliti dan terampil mengoperasikan berbagai platform IT support. Memiliki kemampuan komunikasi lisan dan verbal yang baik, serta mampu memaparkan isu-isu software yang kompleks dalam istilah yang mudah dipahami </p>
    </header>

    <style>
        .container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      </style>
      
      <div class="container" style="text-align: center;">
        <section style="text-align: center;">
          <h2>Pendidikan</h2>
            <p>SMA Negeri 2 Kota Lubuklinggau</p>
            <p>SMP Negeri 2 Kota Lubuklinggau</p>
            <p>SD Negeri 46 Kota Lubuklinggau</p>
        </section >
      
        <section style="text-align: center;">
          <h2>Pengalaman</h2>
            <p>Freelance Graphic Desainer at Smily.florist</p>
            <p>Asisten Praktikum Aljabar Liniear</p>
            <p>Asisten Praktikum Jaringan Komputer</p>
        </section>
      
        <section style="text-align: center;">
            <h2 style="text-align: center;">Keahlian</h2>
            <p>Photoshop (Mahir)</p>
            <p>Figam (Menengah)</p>
            <p>HTML (Dasar)</p>
          </section>
      
        <section style="text-align: center;">
          <h2>Kontak</h2>
            <p>Email: robbymahendra2202@gmail.com</p>
            <p>No. Telepon: 081273120823</p>
            <p>Sosial Media: 
                <a href="https://www.linkedin.com/in/robby-mahendra-8199501a0/">LinkedIn</a>, 
                <a href="https://twitter.com/robbymahendra_">Twitter</a>, 
                <a href="https://www.instagram.com/robby.mhdr/">Instagram</a></p>
        </section>
      </div>
      
    <!-- Tambahkan script JS -->
    <script src="script.js"></script>

    <footer style="text-align: center;">
        <p>Copyright &copy; 2023 Robby Mahendra.</p>
    </footer>
</body>
</html>
